<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{:url('/index/index')}">1024•核工厂</a>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{:url('/index/login/login')}">登录</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{:url('/index/login/register')}">注册</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{:url('/index/kalman/index')}">获取卡密</a>
            </li>
        </ul>
    </div>
</nav>

