{extend name="base/base" /}

{block name="title"}1024纯净版{/block}

{block name="main"}
{include file="base/header"}
<div class="container-fluid bg-light">
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
	
</div>

{include file="base/footer"}{/block}

{block name="my-js"}
<script>

</script>
{/block}