{extend name="base/base" /}

{block name="title"}1024纯净版{/block}

{block name="main"}
{include file="base/header"}
<style>
    .card-height{
        height: 13rem;
    }
    .card-body p{
        height: 3rem;
    }
</style>
<div class="container-fluid">
    <div class="d-flex flex-row-reverse bg-light">
        <div class="p-2 bg-primary"></div>
        <div class="p-2 bg-warning">新会员:afaffdsfad</div>
        <div class="p-2 bg-primary">|</div>
        <div class="p-2 bg-warning">当前：游客</div>
        <div class="p-2 bg-primary">|</div>
        <div class="p-2 bg-warning flex-grow-1"></div>
    </div>
    {volist name="blockInfo" id="vos"}
    <div class="row" style="margin-top: 2rem;">
        {volist name="vos" id="vo"}
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="card card-height">
                <div class="card-body">
                    <h5 class="card-title">{$vo.title}</h5>
                    <p class="card-text">{$vo.introduce}</p>
                    <a href="/index/index/listView?type={$vo.id}" class="btn btn-outline-primary float-right">進入</a>
                </div>
            </div>
        </div>
        {/volist}
    </div>
    {/volist}
</div>

{include file="base/footer"}{/block}

{block name="my-js"}
<script>

</script>
{/block}