{extend name="base/base" /}

{block name="title"}1024纯净版-注册{/block}

{block name="main"}
{include file="base/header"}
<div class="container">
    <div class="row" style="margin-top: 10rem;">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 offset-md-3">
            <form action="" onsubmit="return false;" class="loginForm">
                <div class="form-group row mb-4">
                    <label for="account" class="col-12 col-sm-12 col-md-4 col-form-label">输入帐号</label>
                    <div class="col-12 col-sm-12 col-md-8">
                        <input type="text" class="form-control" id="account" name="user_account" placeholder="Account" required>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="password" class="col-12 col-sm-12 col-md-4 col-form-label">输入密码</label>
                    <div class="col-12 col-sm-12 col-md-8">
                        <input type="password" class="form-control" name="user_pwd" id="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="re-password" class="col-12 col-sm-12 col-md-4 col-form-label">再次输入密码</label>
                    <div class="col-12 col-sm-12 col-md-8">
                        <input type="password" class="form-control" name="user_pwd" id="re-password" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="email" class="col-12 col-sm-12 col-md-4 col-form-label">输入邮箱</label>
                    <div class="col-12 col-sm-12 col-md-8">
                        <input type="eamil" class="form-control" id="email" name="user_email" placeholder="E-mail" required>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="kalman" class="col-12 col-sm-12 col-md-4 col-form-label">输入卡密</label>
                    <div class="col-12 col-sm-12 col-md-8">
                        <input type="text" class="form-control" id="kalman" name="user_kalman" placeholder="Kalman" required>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button type="submit" class="btn btn-primary mt-4 submitBtn">立即注册</button>
                </div>
                <div class="text-center">
                    <p class="text-muted">已有帐号? <a href="{:url('index/login/login')}">点这里登录</a>.</p>
                </div>
            </form>
        </div>
    </div>
</div>

{include file="base/footer"}
{/block}

{block name="my-js"}
<script>
    $(function () {
        $("#account").keydown(function(){
            this.value = this.value.replace(/[^A-Za-z0-9]/i,'');
        });
        $('.submitBtn').click(function () {
            let user_name = $("#account").val();
            let user_pwd = $("#password").val();
            let user_re_pwd = $("#re-password").val();
            let user_email = $("#email").val();
            let user_kalman = $("#kalman").val();
            if(user_name == ''){
                layer.msg('请填写用户名',{time: 1000});
                return false;
            }
            if(user_name.length < 8){
                layer.msg('帐号不能少于8位',{time:1000});
                return false;
            }
            if(user_email == ''){
                layer.msg('邮箱不能为空',{time:1000});
                return false;
            }
            if(user_email.indexOf('@') < 0){
                layer.msg('邮箱格式不正确',{time:1000});
                return false;
            }
            if(user_pwd == ''){
                layer.msg('请填写密码',{time: 1000});
                return false;
            }
            if(user_pwd != user_re_pwd){
                layer.msg('两次密码不一致',{time: 1000});
                return false;
            }
            $.ajax({
                url : '/index/login/doRegister',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    username : user_name,
                    userpwd : user_pwd,
                    useremail:user_email,
                    kalman:user_kalman
                },
                success : function(data){
                    var callingBack = '';
                    if(data.code == 0){
                        callingBack = function(){
                            location.href='/index/login/login';
                        };
                    }
                    layer.msg(data.msg,{time: 1000},callingBack);
                },
                error : function(data){
                    console.log(data);
                }
            });
            return false;
        });
    });
</script>
{/block}