{extend name="base/base" /}

{block name="title"}1024纯净版-登录{/block}

{block name="main"}
{include file="base/header"}
<div class="container">
    <div class="d-flex p-2 bg-light">
        <div class="p-2 text-muted">获取卡密</div>
    </div>
    <div class="row">
        <div class="col-6 text-center offset-3">
            <form onsubmit="return false;">
                <div class="form-group">
                    <label for="sel1">卡密列表:</label>
                    <select class="form-control" id="sel1">
                        <option value="">请选择卡种</option>
                        <option value="1">1天卡</option>
                        <option value="2">7天卡</option>
                        <option value="3">月卡</option>
                        <option value="4">季卡</option>
                        <option value="5">年卡</option>
                        <option value="6">永久卡</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel2">数量:</label>
                    <input type="text" class="form-control" id="sel2" value="1">
                </div>
                <div class="form-group">
                    <label for="sel3">价格:</label>
                    <input type="text" class="form-control" id="sel3" value="" disabled>
                </div>
                <button type="submit" class="btn btn-primary submitBtn">确认购买</button>
            </form>
        </div>
    </div>
</div>

{include file="base/footer"}
{/block}

{block name="my-js"}
<script>
    $(function () {
        $('#sel1').change(function () {

        });
        $('.submitBtn').click(function () {
            let type = $(this).data('val');
            let id = $('#articleId').val();
            let addressDom = $(this);
            getUrl(id,type,addressDom);
            console.log(type);
        });

        var getUrl = function (id,type,addressDom) {
            $.ajax({
                url : '/index/torrent/detail',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    type : type,
                    id : id,
                    text:text
                },
                success : function(res){
                    if(res.code == 0){
                        addressDom.after(' -> <a href="'+res.data+'" class="btn btn-danger">磁力連結</a>');
                    }else if(res.code == 1){
                        layer.prompt({title: '输入卡密或者登录后获取', formType: 1}, function(pass, index){
                            $.ajax({
                                url : '/index/kalman/checkKalman',
                                type : "POST",
                                dataType : "json",
                                cache : false,
                                data : {
                                    text : pass
                                },
                                success : function(resq){
                                    console.log(resq);
                                    if(resq.code == 0){
                                        getUrl(id,type,addressDom,pass);
                                        layer.close(index);
                                    }else{
                                        layer.msg(resq.msg,{time: 1500});
                                    }
                                },
                                error : function(data){
                                    console.log(data);
                                }
                            });
                        });
                    }else{
                        layer.msg(res.msg,{time: 1500});
                    }
                },
                error : function(data){
                    console.log(data);
                }
            });
        };
    });
</script>
{/block}