{extend name="base/base" /}

{block name="title"}1024纯净版-卡密{/block}

{block name="main"}
<style>
    .buyModal{
        margin: 2rem 1rem;
        display: none;
    }
    .buyModal p{
        margin: 1rem 1rem;
        font-size: 1.1rem;
        text-align: center;
    }
</style>
{include file="base/header"}
<div class="container" style="margin-bottom: 5rem">
    <div class="d-flex p-2 bg-light">
        <div class="p-2 text-muted">获取卡密</div>
    </div>
    <div class="row">
        <div class="col-6 text-center border-right">
            <form onsubmit="return false;">
                <div class="form-group">
                    <label for="sel1">卡密列表:</label>
                    <select class="form-control" id="sel1">
                        <option value="">请选择卡种</option>
                        <option value="1">1天卡</option>
                        <option value="2">7天卡</option>
                        <option value="3">月卡</option>
                        <option value="4">季卡</option>
                        <option value="5">年卡</option>
                        <option value="6">永久卡</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel2">数量:</label>
                    <input type="text" class="form-control" id="sel2" value="1">
                </div>
                <div class="form-group">
                    <label for="sel3">价格/元:</label>
                    <input type="text" class="form-control" id="sel3" value="" disabled>
                </div>
                <div class="form-group">
                    <label for="sel4">查询密码:</label>
                    <input type="text" class="form-control" id="sel4" placeholder="查询密码是您获取卡密的唯一途径">
                </div>
                <div class="form-group">
                    <label for="sel6">支付方式:</label>
                    <select class="form-control" id="sel6">
                        <option value="">请选择支付方式</option>
                        <option value="1">支付宝</option>
                        <option value="2">微信</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary buyBtn">确认购买</button>
            </form>
        </div>
        <div class="col-6 text-center ">
            <form onsubmit="return false;">
                <div class="form-group">
                    <label for="queryPwd">输入查询密码查询卡密:</label>
                    <input type="text" class="form-control" id="queryPwd" >
                </div>
                <div class="form-group">
                    <label for="sel5">卡密:</label>
                    <p type="text" id="sel5" ></p>
                </div>
                <button type="submit" class="btn btn-primary queryBtn">查询</button>
            </form>
            <hr>
            <form onsubmit="return false;">
                <div class="form-group">
                    <label for="sel7">输入需添加卡密的帐号:</label>
                    <input type="text" class="form-control" id="sel7" >
                </div>
                <div class="form-group">
                    <label for="sel8">输入卡密:</label>
                    <input type="text" class="form-control" id="sel8" >
                </div>
                <button type="submit" class="btn btn-primary addkal">添加</button>
            </form>
        </div>
    </div>
</div>

{include file="base/footer"}

<div class="buyModal">
    <div id="buyImg" style="text-align: center;width: 100%"></div>
    <p class="text-muted">付款成功后10分钟内到账，请使用查询密码查询卡密。</p>
</div>

<script src="/static/index/js/jquery-qrcode/jquery.qrcode.min.js"></script>
{/block}

{block name="my-js"}
<script>
    $(function () {
        $("#sel4").keydown(function(){
            this.value = this.value.replace(/[^A-Za-z0-9]/i,'');
        });
        $('#sel1').change(function () {
            let num = $('#sel2').val();
            let type = $(this).val();
            if(num == ''){
                layer.msg('数量不能为空',{time: 1000});
                return false;
            }
            if(type == ''){
                layer.msg('请选择卡密种类',{time: 1000});
                return false;
            }
            getPrice(type,num);
        });

        $('.buyBtn').click(function () {
            let num = $('#sel2').val();
            let type = $('#sel1').val();
            let queryPwd = $('#sel4').val();
            let way = $('#sel6').val();
            if(num == ''){
                layer.msg('数量不能为空',{time: 1000});
                return false;
            }
            if(type == ''){
                layer.msg('请选择卡密种类',{time: 1000});
                return false;
            }
            if(queryPwd == ''){
                layer.msg('请输入查询密码',{time: 1000});
                return false;
            }
            if(way == ''){
                layer.msg('请选择支付方式',{time: 1000});
                return false;
            }

            layer.load(0, {
                shade: [0.1,'#fff']
            });
            $.ajax({
                url : '/index/order/createOrder',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    num : num,
                    type : type,
                    way : way,
                    queryPwd : queryPwd
                },
                success : function(res){
                    layer.closeAll('loading');
                    if(res.code == 0){
                        console.log(res.data.url);
                        //判断是不是web 网站访问
                        let isWeb = checkAgents();
                        if(isWeb){
                            $('#buyImg').html('');
                            $('#buyImg').qrcode({
                                width: 190,
                                height:190,
                                text:res.data.url
                            });
                            let title = '';
                            if(res.data.way){
                                title = '打开支付宝扫一扫';
                            }else{
                                title = '打开微信扫一扫';
                            }
                            layer.open({
                                type: 1,
                                title:title,
                                area: ['40rem', '25rem'], //宽高
                                content: $('.buyModal')
                            });
                        }else{
                            let activeA = $('<a href="'+res.data.url+'"></a>');
                            activeA[0].click();
                        }
                    }else{
                        layer.msg(res.msg,{time: 1500});
                    }
                },
                error : function(data){
                    console.log(data);
                }
            });
        });

        $('.queryBtn').click(function () {
            let query_pwd = $('#queryPwd').val();
            if(query_pwd == ''){
                layer.msg('请输入查询密码',{time: 1000});
                return false;
            }
            layer.load(0, {
                shade: [0.1,'#fff']
            });
            $.ajax({
                url : '/index/kalman/getKalmanByQuery',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    query : query_pwd
                },
                success : function(res){
                    layer.closeAll('loading');
                    if(res.code == 0){
                        $('#sel5').html(res.data);
                    }else{
                        layer.msg(res.msg,{time: 1500});
                    }
                },
                error : function(data){
                    console.log(data);
                }
            });
        });

        $('.addkal').click(function () {
            let account = $('#sel7').val();
            let kal = $('#sel8').val();

            if(account == ''){
                layer.msg('帐号不能为空',{time: 1000});
                return false;
            }
            if(kal == ''){
                layer.msg('卡密不能为空',{time: 1000});
                return false;
            }
            layer.load(0, {
                shade: [0.1,'#fff']
            });
            $.ajax({
                url : '/index/kalman/addKalForUser',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    account : account,
                    kal_str : kal
                },
                success : function(res){
                    console.log(res);
                    /*if(res.code == 0){
                        $('#sel3').val(res.data);
                    }else{
                        layer.msg(res.msg,{time: 1500});
                    }*/
                },
                error : function(data){
                    console.log(data);
                }
            });
        });

        var getPrice = function (type,num) {
            $.ajax({
                url : '/index/kalman/getPrice',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    type : type,
                    num : num
                },
                success : function(res){
                    console.log(res);
                    if(res.code == 0){
                        $('#sel3').val(res.data);
                    }else{
                        layer.msg(res.msg,{time: 1500});
                    }
                },
                error : function(data){
                    console.log(data);
                }
            });
        };
    });
    function checkAgents() {
        var userAgentInfo = navigator.userAgent;
        var Agents = new Array("Android","iPhone","SymbianOS","Windows Phone","iPad","iPod");
        var flag=true;
        for(var v=0;v<Agents.length;v++) {
            if(userAgentInfo.indexOf(Agents[v])>0) {
                flag=false;
                break;
            }
        }
        return flag;
    }
</script>
{/block}